<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include 'manager/style.html' %}
</head>
<body>
<div class="container">
{% block content %}

{% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $('.create').on('click', function() {
      var trend = $(this).data('id');

      $('.preloader_center').show();

      $.ajax({
        type: "GET",
        url: "/api/v1/manager/create",
        data: "trend="+trend,
        success: function(data){
            console.log(data['success']);
            if(data['success']){
                $('.add_top_'+trend).append('<p class="btn btn-info">Топ создан обновите страницу!</p>');
                $('.preloader_center').hide();
            }
            else{
                if(data['counter'] !=0){
                    $('.add_top_'+trend)
                            .append('<p class="btn btn-info">Твитов добавлено '+data['counter']+'' +
                            ', Попробуйте еще раз через минуту!</p>');
                    $('.preloader_center').hide();
                }
                else{
                    $('.add_top_'+trend).append('<p class="btn btn-danger">Что-то пошло не так. Ошибка!</p>');
                    $('.preloader_center').hide();
                }

            }
        }
      });

  });
});
</script>
</body>
</html>