{% extends 'manager/base.html' %}

{% block title %}Trends List{% endblock %}

{% block content %}
<br>
<div class="bs-example" data-example-id="striped-table">

<div class="preloader_center" style="display: none">
	<div class="preloader">
            <div class="item item_1"></div>
            <div class="item item_2"></div>
            <div class="item item_3"></div>
    </div>
</div>

<a class="btn btn-danger" href="{% url 'manager:manager_trend_add' %}">Добавить тренд</a>

{% if object_list %}
<table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Edit</th>
          <th>Name</th>
          <th>Active</th>
          <th>Hastag</th>
          <th>Is Top</th>
          <th>Watch Top</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        {% for tr in object_list %}
        <tr>
          <th scope="row">{{ tr.id }}</th>
            <td><a class="btn btn-warning" href="{% url 'manager:manager_trend_list' tr.id %}">Edit</a></td>
            <td>{% if tr.is_hastag %}#{{ tr.name }}{% else %}{{ tr.name }}{% endif %}</td>
            <td>{{ tr.is_active }}</td>
            <td>{{ tr.is_hastag }}</td>
            <td class="add_top_{{ tr.id }}">
                {% if tr.is_top %}
                    <p class="btn btn-primary">[Кол. {{ tr.is_top }}] Обновить топ</p>
                {% else %}
                    <p class="btn btn-success create" data-id="{{ tr.id }}">Создать топ</p>
                {% endif %}
            </td>
            <td>{% if tr.is_top %}
               {% if tr.is_hastag %}
                    <a target="_blank" href="http://twizoom.com/{{ tr.name }}/top" class="btn btn-info">
                        Посмотреть топ #{{ tr.name }}
                    </a>
                {% else %}
                    <a target="_blank" href="http://twizoom.com/w/{{ tr.name }}/top" class="btn btn-info">
                        Посмотреть топ {{ tr.name }}
                    </a>
                {% endif %}
                {% endif %}
            </td>
            <td>{{ tr.created|date:"j/n/Y H:i:s" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% else %}
   <p class="btn btn-danger">Трендов еще нет! Добавьте!</p>
{% endif %}
{% endblock %}