{% extends 'manager/base.html' %}

{% block title %}Add trend{% endblock %}

{% block content %}
<div class="bs-example" data-example-id="basic-forms">
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Add" />
</form>
</div>
{% endblock %}